<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact me at <a href="mailto:rajeev.reddy.iitkgp@gmail.com">Rajeev Reddy</a> and regarding the sample app contact Ruby on Rails Tutorial at the
  <a href="http://railstutorial.org/contact">contact page</a>.
</p>